@use 'src/renderer/App.scss';

.scene-inspector {
  grid-area: scene-inspector;
  background-color: App.$background-color;
  outline: none;
  display: flex;
  flex-direction: column;
  max-height: fit-content;
  overflow: scroll;

  & > header {
    padding: .5rem 1rem;
    margin-bottom: .2rem;

    h3 {
      color: App.$text-color;
    }
  }

  & > .items {
    display: flex;
    flex-direction: column;
    gap: 0;
    box-sizing: border-box;
  }
}