@use 'src/renderer/App.scss';

.editor {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-areas: 
  'x x x'
  'scene-inspector simulation-renderer inspector'
  'scene-inspector simulation-inspector-renderer inspector'
  'a a a';

  grid-template-columns: 20rem auto 1fr;
  grid-template-rows: 1fr auto auto 1fr;

  .renderer {
    nav {
      background-color: App.$primary-color;
    }

    & > canvas {
      height: calc(1920 / 2.8);
      outline: none;
      background-color: rgb(0, 0, 0);
    }

    &.simulation-renderer {
      grid-area: simulation-renderer;
    }
    
    &.simulation-inspector-renderer {
      grid-area: simulation-inspector-renderer;
    }
  }
}